@use '../../../sass/variable' as *;

.sort {
  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

    & > * {
      margin-top: 2rem;
    }

    & > *:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 200px;
    border: 2px solid $color--grey-dark;
    transition: all 0.2s;
    cursor: pointer;

    &:hover,
    &:active,
    &--active {
      border-color: $color--primary;
      color: $color--primary;
      font-weight: 600;
    }

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 2rem 4rem rgba($color--black, 0.4);
    }
  }
}
