$primary--color: #eb1c24;
$color--dark-light: #1a171e;
.movies-container {
  // background-color: red;
  color: #fff;
  position: relative;

  .movies-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;

    .movies-title--content {
      display: flex;
      align-items: center;

      i {
        color: rgb(225, 255, 55);
        margin-left: 12px;
      }
    }
    .movie-title--tab {
      display: flex;
      align-items: center;
      margin-right: 12px;

      cursor: pointer;

      transition: all 0.1s linear;

      &:hover {
        color: $primary--color;
        transform: scale(1.1);
        // border-bottom: 2px solid #ccc;
      }

      i {
        margin-left: 8px;
      }
    }
  }
}
