// *COLOR

$color--black: #000;
$color--white: #fff;

$color--primary: #eb1c24;
$color--secondary: #0e0f15;

$color--grey-light-1: #f9f7f6;
$color--grey-light-2: #f7f7f7;
$color--grey-light-3: #eee;
$color--grey-light-4: #aaa;

$color--grey-dark: #777;
$color--grey-dark-2: #999;
$color--grey-dark-3: #333;

$color--yellow-dark: #ffb900;

// *FONT SIZE
$font-size--default: 1.6rem;
