@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #17171b;
  //   font-size: 62.5%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
.container {
  max-width: 85%;
  margin: auto;

  &.height {
    height: 100%;
  }
}
.flexBx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
